body {
    background-color: #FFEBCD;
    font-family: 'Inter', sans-serif;
    } 
pre {
        font-family: 'Inter', sans-serif;
            }   
a:link, a:visited {
                background-color: #FFEBCD;
                color: rgb(0, 0, 0);
                padding: 15px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
              }
